<div id="footer-logo-cft"/><a href='https://www.cft.edu.pl'></a></div>
<div id="footer-logo-fund"></div>
<div id="footer-logo-eu"></div>
<div id="footer-desc">
  <p>{{ site.description | escape }}</p>
</div>
<div id="footer-footer">
  <p>
  This project is funded by the European Union under Horizon Europe (project No. 101186579).
Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Commission. Neither the European Union nor the granting authority can be held responsible for them
  </p>
</div>
