<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!-- <a href='https://www.cft.edu.pl'><div id="footer-logo-cft"/></div></a> -->
      <div id="footer-logo-cft"/><a href='https://www.cft.edu.pl'></a></div>
      <div id="footer-logo-fund"></div>
      <div id="footer-logo-eu"></div>
      <div class="footer-img"></div>
      <!-- <div class="footer-col"> -->
      <!-- {%- if site.author %} -->
      <!--   <ul class="contact-list"> -->
      <!--     {% if site.author.name -%} -->
      <!--       <li class="p-name">{{ site.author.name | escape }}</li> -->
      <!--     {% endif -%} -->
      <!--     {% if site.author.email -%} -->
      <!--       <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li> -->
      <!--     {%- endif %} -->
      <!--   </ul> -->
      <!-- {%- endif %} -->
      <!-- </div> -->
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="footer-footer">
      <p>
      This project is funded by the European Union under Horizon Europe (project No. 101186579).
    Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Commission. Neither the European Union nor the granting authority can be held responsible for them
      </p>
    </div>
  </div>

</footer>
