---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


/* system typefaces */
$serif      : Georgia, Times, serif;
$sans-serif : Roboto;
$monospace  : "Roboto Mono";

$doc-font-size:   14px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#footer-logo-cft {
  background: url('../../assets/images/cft_logo.webp') no-repeat center center;
  background-size: 70px;
  height: 100px;
  width: 100px;
  display: table-cell;
}
#footer-logo-fund {
  background: url('../../assets/images/EU_central_logo.svg') no-repeat center center;
  background-size: 100px;
  height: 100px;
  width: 150px;
  display: table-cell;
}
#footer-logo-eu {
  background: url('../../assets/images/eu_logo.webp') no-repeat center center;
  background-size: 300px;
  height: 100px;
  width: 300px;
  display: table-cell;
}
#footer-desc {
  // width: 500px;
  width: 40%;
  display: table-cell;
}
#footer-footer {
  text-align: center;
  font-style: italic;
  font-size: $type-size-8;
}
h1 {
  font-size: 1.25rem;   /* was ~2.5rem */
}
h2 {
  font-size: 1.0rem;   /* was ~2.5rem */
}

.sidebar {
  opacity: 1;
  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
  li {
    font-size: $type-size-5;
  }
}
/* 
  Two column grid; just sets style for medium screens to that of small screens
*/
.grid__item {
  @include breakpoint($medium) {
    float: inline-start;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-inline-start: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-inline-start: gutter(of 10);
    }
  }
  .archive__item-teaser {
    @include breakpoint($medium) {
      max-height: 200px;
  }
}
}

