/**
 * Site header
 */
.site-header {
  position: fixed;
  width: 100%;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: $background-color;
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
}

.site-title {
  @include relative-font-size(1.625);
  width: 20rem;
  padding-left: 0px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-align: center;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-nav {
  float: left;
  border: none;
  background-color: inherit;

  label[for="nav-trigger"], #nav-trigger {
    display: none;
  }

  .nav-item {
    color: $text-color;
    &:not(:last-child) {
      margin-right: $spacing-unit * 0.5;
    }
  }

  @include media-query($on-medium) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.6;
    background-color: $background-color;
    border: 1px solid $border-color-01;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 18px;
      text-align: center;

      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
      }

      > svg path {
        fill: $border-color-03;
      }
    }

    #nav-trigger {
      ~ label[for=nav-trigger] .menu-icon {
        &::before {
          content: "\f0c9";
          font-size: 1.25em;
        }
      }
      ~ .nav-items {
        clear: both;
        display: none
      }
      &:checked {
      ~ label[for=nav-trigger] .menu-icon {
        &::before {
          content: "\f00d";
          font-size: 1.5em;
        }
      }
        ~ .nav-items {
          display: block;
          padding-bottom: 5px;
          .nav-item {
            margin-left: 20px;
            padding: 5px 10px;
          }
        }
      }
    }

    .nav-item {
      display: block;
      padding: 5px 0;
      color: $text-color;
      line-height: $base-line-height;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color-dimmed;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

#footer-logo-cft a {
  background: url('../../assets/images/cft_logo.webp') no-repeat center center;
  background-size: 70px;
  height: 100px;
  width: 100px;
  display: block;
}
#footer-logo-fund {
  background: url('../../assets/images/EU_central_logo.svg') no-repeat center center;
  background-size: 100px;
  height: 100px;
  width: 600px;
}
#footer-logo-eu {
  background: url('../../assets/images/eu_logo.webp') no-repeat center center;
  background-size: 300px;
  height: 100px;
  width: 1000px;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

.footer-footer {
  @include relative-font-size(0.6);
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding-bottom: 3 * $spacing-unit;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color-dimmed;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  // margin-bottom: $spacing-unit;
  padding-bottom: 18px;
  height: 5 * $spacing-unit - 18px;
  display: flex;
  align-items: flex-end;
  // text-align: center;
  border-bottom: 1px solid $border-color-01;
}

.post-meta {
  .bullet-divider { padding-inline: 15px }
  .meta-label { font-weight: 600 }

  .force-inline {
    display: inline;
    &::before {
      content: "•";
      padding-inline: 5px;
    }
  }
  .post-authors { margin-top: 3px }
}

.post-title,
.post-content h1 {
  margin-bottom: 10px;
  @include relative-font-size(2.625);
  font-weight: $base-font-weight;
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;
    // font-weight: bold;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @include relative-font-size(2.0);
  }

  h2 {
    @include relative-font-size(1.5);
  }

  h3 {
    @include relative-font-size(1.25);
  }

  h4 h5 h6{
    @include relative-font-size(1);
  }
}

.comments-disabled-message {
  text-align: center;
  font-weight: 300;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  display: table;
  margin: 0 auto;
  list-style-type: none;
  li {
    float: left;
    margin: 0 3px;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
    a, div {
      min-width: 41px;
      padding: 10px 12px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      border: 1px solid transparent;
      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
      &.current-page {
        font-weight: bold;
      }
    }
  }
}



/**
 * Task-lists
 */

.task-list {
  margin-left: 0;
  padding-left: $spacing-unit * 0.6;
}

.task-list-item {
  list-style-type: none;
  &-checkbox {
    position: relative;
    margin-right: $spacing-unit * 0.3;
    margin-left: -$spacing-unit * 0.5;
    appearance: none;
    border: 8px solid $border-color-01;
    vertical-align: text-top;
    z-index: -1;
    &::after {
      position: absolute;
      top: -8px;
      left: -3px;
      width: 4px;
      height: 10px;
      content: "";
      border: solid transparent;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &:checked::after { border-color: $border-color-03 }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

/**
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 0 1rem;
  // height: auto;
  border-right: 1px solid $border-color-01;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar-toc a {
  padding: 6px 0px 6px;
  text-decoration: none;
  font-size: 1rem;
  color: $text-color;
  display: block;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding-left: 0.5rem;
}
.sidebar-toc ul > li > a:hover {
  background: $code-background-color;
  transition: background-color 0.5s;
  border-radius: 10px;
}
.sidebar-toc ul {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0;
}
.sidebar-toc > ul > li {
  border-top: 0px solid $border-color-01;
}
.sidebar-toc ul > li > ul > li {
  border-top: 0px solid $border-color-01;
  padding-left: 1rem;
  // text-align: start;
  // text-indent: 1rem;
}

/* About section */
.sidebar-header {
  // color: #fff;
  margin-bottom: $spacing-unit;
  // padding-top: 3 * $spacing-unit;
  height: 5 * $spacing-unit;
  // padding-bottom: 18px;
  list-style-type: none;
  text-align: left;
  list-style-position: outside;
  padding-left: 0.5rem;
  border-bottom: 1px solid $border-color-01;
  display: flex;
  align-items: flex-end;
  // margin-top: 0;
  // font-family: "Abril Fatface", serif;
}
.sidebar-header h2 {
  padding-bottom: 18px;
  margin-bottom: 0px;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}
